/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

* {
    margin:0;
    padding: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #BBBBBB;
    font-family: "Inter", sans-serif;
}

header {
    margin-top: 0;
}

.navbar {
    position: sticky;
    display: flex;
    width: 100%;
    background: #333333;
    height: 71px;
    top: 0;
}

nav>ul{
    display: flex;
    list-style: none;
    margin: auto;
    margin-left: 8px;
    justify-content: left;
}

nav>ul>li {
    gap: 2rem;
    display: block;
    justify-content: center;
    align-items: center;
}

nav>ul>li>a{
    text-decoration: none;
    color: #00B8D4;
    font-size: 19.2px;
    padding: 16px;
}

nav>ul>li>a:hover {
    color: white;

}

.portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait img{
    height: auto;
    width: 100%;
}


.home_container {
    margin-top: 161px;
    margin-bottom: 176px;
    top: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current > a{
    font-weight: bold;
    color:#b2f5ea;
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size:48px;
    color: #333333;
    align-items: center;
    justify-content: center;
}

.hi {
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.intro {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    padding: 8px 16px;
    background-color: #FFFFFF;
    color: rgb(0, 126, 168);
    border: 2px solid #007EA8;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: auto;
    margin: 24px 24px 0;
}

.button:hover {
    color: #FFFFFF;
    background-color: #007EA8;
    border: 2px solid #FFFFFF;;
}

footer {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 48px;
    z-index: 100;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
    height: 3rem;
}

.about_container {
    display: flex;
    top: 199px;
    margin-top: 128px;
    margin-bottom: 176px;
    flex-direction: column;
    align-items: center;
}

details > summary {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #333333;
    list-style: none;
    text-align: center;
}

details > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1rem;
    padding: 16px;
    text-align: center;
}

details > ul > li {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #333333;
}

.Academic {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #333333;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 16px;
}

embed {
    width: 720px;
    height: 60vh;
}

.contact-container {
    top: 199px;
    margin-top: 128px;
    margin-bottom: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 40%;
}

.group {
    display: flex;
    align-items: center;
    width: 100%;
}

label {
    font-weight: 700;
    text-align: right;
    margin: 5px;
    padding: 10px;
    white-space: nowrap;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #333333;
}

input[type=email] {
    height: 47px;
    padding: 10px;
}

input,textarea {
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    margin-left: 10px;
    height: 104px;
    color: #888888;
    padding: 16px;
}

input[type=file] {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    gap:16px;
    padding: 13px 12.8px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 3px solid #888888;
}

button.feedback {
    width: auto;
    font-size: 13.6px;
    white-space: nowrap;
}

button.button.feedback {
    width: auto;
    display: inline-block;
    align-self: flex-start;
}

.email a {
    font-family: "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #000EEE;
    text-decoration: none;
}

.email {
    margin-bottom: 25px;
    text-align: center;
}

.group.checkbox {
    margin-left: 70px;
}

label.consent {
    font-weight: 400;
}

@media (max-width: 900px){
    form {
        width: 414px;
        height: 467px;
        top: 367px;
        left: 8px;
    }
    .group {
        flex-direction: column;
    }

    label {
        justify-content: left;
        align-self: flex-start;

    }

    input {
        width: 414px;
    }
    textarea {
        width: 100%;
    }

    p {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 600px) {
    
}