/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

* {
    margin:0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    background-color: #BBBBBB;
    font-family: "Inter", sans-serif;
}

header {
    margin-top: 0;
}

main {
    margin-top: 128px;
    margin-bottom: 128px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}


.navbar {
    position: sticky;
    display: flex;
    width: 100%;
    background: #333333;
    height: 71px;
    top: 0;
}

nav>ul{
    display: flex;
    list-style: none;
    margin: auto;
    margin-left: 8px;
    justify-content: left;
}

nav>ul>li {
    gap: 2rem;
    display: block;
    justify-content: center;
    align-items: center;
}

nav>ul>li>a{
    text-decoration: none;
    color: #00B8D4;
    font-size: 19.2px;
    padding: 16px;
}

nav>ul>li>a:hover {
    color: white;

}

.portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.portrait img{
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;

}

.current > a{
    font-weight: bold;
    color:#b2f5ea;
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size:48px;
    color: #333333;
    text-align: center;
}

.hi {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
}


.about {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}


.intro {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    padding: 8px 16px;
    background-color: #FFFFFF;
    color: rgb(0, 126, 168);
    border: 2px solid #007EA8;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: auto;
}

.button1 {
    margin: 24px 24px 0;
}

.button:hover {
    color: #FFFFFF;
    background-color: #007EA8;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 48px;
}

footer {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 48px;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
    height: 3rem;
}

details > summary {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #333333;
    list-style: none;
    text-align: center;
}

details > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1rem;
    padding: 16px;
    text-align: center;
}

details > ul > li {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #333333;
}

.Academic {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 24px;
}

embed {
    max-width: 720px;
    width: 720px;
    height: 60vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 40%;
}

.group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.checkbox {
    height: 51px;
    align-items: center;
    text-align: center;
    margin-left: 95.2px;
}

.btn {
    margin-left: 130px;
    align-self: flex-start;
}

label {
    font-weight: 700;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #333333;
}

label.feedback {
    padding: 16px;
}

label.attachment {
    padding: 16px;
}

label:not(.consent){
    display: inline-block;
    width: 140px;
    text-align: right;
    padding: 16px 16px 0 16px;
}


input[type=email], textarea, input[type=file] {
    width: 100%;
}

input[type=email] {
    height: 47px;
    padding: 0.8rem;
}

input,textarea {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    height: 104px;
    color: #888888;
    padding: 0.8rem;
}

input[type=file] {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    gap:16px;
    padding: 13px 12.8px;
}

input[type=checkbox] {
    border-radius: 3px;
    border: 3px solid #888888;
    transform: scale(1.5);
    margin-right: 16px;
}

button.feedback {
    width: auto;
    font-size: 13.6px;
    white-space: nowrap;
    align-self: flex-start;
}

.email a {
    font-family: "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #000EEE;
    text-decoration: none;
}

.email {
    margin-bottom: 25px;
    text-align: center;
}


label.consent {
    font-weight: 400;
    text-align: left;
    justify-content: left;
}

@media (max-width: 900px){
    footer {
        align-items: center;
        text-align: center;
        width: 438px;
    }

    embed {
        width: 450px;
    }

    form {
        width: calc(100% - 16px);
        height: 467px;
        top: 367px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        align-items: flex-start;
    }

    .group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .group.checkbox {
        align-items: flex-start;
        margin-right: 0;
    }

    .checkbox {
        margin-left: 0;

    }

    label {
        text-align: left;
        align-self: flex-start;
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 0;
    }

    label:not(.consent) {
        text-align: left;
        margin-left: 0;
        margin-top: 0;
        display: block;
        padding: 0 16px 8px 0;
    }

    label.consent {
        margin-top: 8px;
    }

    textarea {
        width: 100%;
    }

    input[type="checkbox"]{
        margin-left: 4px;
    }

    button.feedback {
        margin: 0;
    }

    .btn {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    embed {
        width: 450px;
    }

    p {
        margin-left: 8px;
        margin-right: 8px;
    }
}