header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
    margin-left: 50rem;
}

.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #e8797f;
}

.navbar li{
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.linkicons a {
    margin-left: 15px;
}

#firstname {
    font-weight: bold;
}

#section-title {
    font-size: 30px;
    text-align: center;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#introduction {
    width: 40%;
    line-height: 1.5;
}

#courses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#courses-section li{
    line-height: 2.5;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="submit"] {
    background-color: #636161;
    width: 100px;
    height: 30px;
    border:none;
    color: white;
    cursor: pointer;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
